{% extends 'base.html' %}
{% block Title %}{{post.title}}{% endblock %}

{% block Body %}
<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p>By {{post.author.first_name}} {{post.author.last_name}}</p>

<p>Tags: 
  {% for tag in tags %}
  <a href="/tags/{{tag.id}}" class="btn btn-primary btn-sm">{{tag.tag_name}}</a>
  {% endfor %}
</p>
<a href="/posts/{{post.id}}/edit" class="btn btn-info">Edit</a>
<form action="/posts/{{post.id}}/delete" method="POST">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}