{% extends 'base.html' %}
{% block Title %}{{user.first_name}} {{user.last_name}} Page{% endblock %}

{% block Body %}
<img src="{{user.img_url}}" alt="User profile image">
<h2>{{user.first_name}} {{user.last_name}}</h2>
<a href="/users/{{user.id}}/edit" class="btn btn-info">Edit</a>
<form action="/users/{{user.id}}/delete" method="post">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>

<ul>
  {% for post in posts %}
  <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
  {% endfor %}
</ul>
<form action="/users/{{user.id}}/posts/new" method="get">
  <button type="submit">Create Post</button>
</form>
{% endblock %}